<% provide(:base_title, "Cat Play") %>
<% provide(:page_title, "Contact") %> 
<div class="cpco__header">
	<div class="cpco__logo">
		<%= render 'cat_play/page_logo_home_link' %>
	</div>
	<div class="cpco__sub-header">
		<div class="cpco__sub-header--inner">
			The crew would love to hear from you
		</div>
	</div>
</div>
<div class="cpco__methods--container container">
	<div class="cpco__methods--row row">
		<div class="cpco__methods--common cpco__social-media col-md-6">
			<div class="cpco__methods-section">
			    <div class="cpco__methods--header">
			      <div>
			    	GET IN TOUCH
			      </div>
			    </div>
			    <div class="cpco__methods--subheader">
			      <div>
			    	Hi. We are very approachable and would love to hear from you. Feel free to connect with us via the social media sites, below, or fill in the message form to send us an email.
			      </div>
			    </div>
				<div class="cpco__social-media--section">
					<div class="cpco__social-media--inner">
						<%= link_to "https://www.facebook.com/kim.roach.75", :class => "cpco__social-media--link" do %>
							<%= image_tag("logo_facebook_128x128.png", alt: "Kim's Facebook") %>
							<div>
								KIM.ROACH.75
							</div>
						<% end %>
					</div>
					<div class="cpco__social-media--inner">
						<%= link_to "https://www.facebook.com/steve.roach.18", :class => "cpco__social-media--link" do %>
							<%= image_tag("logo_facebook_128x128.png", alt: "Steve's Facebook") %>
							<div class="cpco__socmed-text">
								STEVE.ROACH.18
							</div>
						<% end %>
					</div>
					<div class="cpco__social-media--inner">
						<%= link_to "https://www.instagram.com/steve_roach", :class => "cpco__social-media--link" do %>
							<%= image_tag("logo_instagram_128x128.png", alt: "Steve's Instagram") %>
							<div class="cpco__socmed-text">
								STEVE_ROACH
							</div>
						<% end %>
					</div>
					<div class="cpco__social-media--inner">
						<%= link_to "http://www.cat-play-boat.blogspot.com", :class => "cpco__social-media--link" do %>
							<%= image_tag("logo_blogger_128x128.png", alt: "Cat Play's Blog") %>
							<div class="cpco__socmed-text">
								CAT-PLAY-BOAT.BLOGSPOT.COM
							</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
		<%= render 'cp_messages/contact_form' %>
	</div>
</div>
