<% provide(:base_title, "Cat Play") %>
<div class=" cpho__parallax">
	<div class=" cpho__parallax--group-1">
		<div class=" cpho__parallax--layer  cpho__parallax--layer-0">
			<%= image_tag("cpho_parallax_slide_0.png", alt: "CPH Parallax Slide 0") %>
		</div>
		<div class=" cpho__parallax--layer  cpho__parallax--layer-1">
			<%= image_tag("cpho_parallax_slide_1.png", alt: "CPH Parallax Slide 1") %>
		</div>
		<div class=" cpho__parallax--layer  cpho__parallax--layer-2">
			<%= image_tag("cpho_parallax_slide_2.png", alt: "CPH Parallax Slide 2") %>
		</div>
		<div class=" cpho__parallax--layer  cpho__parallax--layer-3">
			<%= image_tag("cpho_parallax_slide_3.png", alt: "CPH Parallax Slide 3") %>
		</div>
		<div class=" cpho__parallax--layer  cpho__parallax--layer-4">
			<%= image_tag("cpho_parallax_slide_4.png", alt: "CPH Parallax Slide 4") %>
		</div>
		<div class=" cpho__parallax--layer  cpho__parallax--layer-5">
			<%= image_tag("cpho_parallax_slide_5.png", alt: "CPH Parallax Slide 5") %>
		</div>
		<div class=" cpho__parallax--layer  cpho__parallax--layer-6">
			<%= image_tag("cpho_parallax_slide_6.png", alt: "CPH Parallax Slide 6") %>
		</div>
	</div>
	<div class=" cpho__parallax--group-2">
		<div class=" cpho__content">
			<div class=" cpho__header">
				<%= link_to root_path do %>
					<div class=" cpho__flex-container">
						<div class=" cpho__flex-item  cpho__text  cpho__cat">
							cat
						</div>
						<div class=" cpho__flex-item  cpho__image">
							<%= render 'layouts/svg_logo' %>
						</div>
						<div class=" cpho__flex-item  cpho__text  cpho__play">
							play
						</div>
					</div>
				<% end %>
			</div>
			<div class=" cpho__pages">
				<div class=" cpho__pages-section  cpho__pages-section-journal">
					<%= image_tag("wooden_sign_top_01_1000x200.png", alt: "CPH Wooden sign level 1") %>
					<%= link_to cp_journal_path, :class => " cpho__pages-link" do %>
						<div class=" cpho__pages-sign-label-container  cpho__pages-sign-label-container-journal">
							<div class=" cpho__pages-text  cpho__pages-text-odd  cpho__pages-text-journal">Journal</div>
							<div class=" cpho__pages-image-container  cpho__pages-image-container-odd  cpho__pages-image-container-journal">
								<%= image_tag("journal_400x300_1.png", alt: "CPH Journal logo") %>
							</div>
						</div>
					<% end %>
				</div>
				<div class=" cpho__pages-section  cpho__pages-section-technical">
					<%= image_tag("wooden_sign_mid_02_1000x230.png", alt: "CPH Wooden sign level 2") %>
					<%= link_to cp_technical_path, :class => " cpho__pages-link" do %>
						<div class=" cpho__pages-sign-label-container  cpho__pages-sign-label-container-technical">
							<div class=" cpho__pages-image-container  cpho__pages-image-container-even  cpho__pages-image-container-technical">
								<%= image_tag("technical_400x300_1.png", alt: "CPH Technical logo") %>
							</div>
							<div class=" cpho__pages-text  cpho__pages-text-even  cpho__pages-text-technical">Technical</div>
						</div>
					<% end %>
				</div>
				<div class=" cpho__pages-section  cpho__pages-section-contact">
					<%= image_tag("wooden_sign_mid_03_1000x230.png", alt: "CPH Wooden sign level 3") %>
					<%= link_to new_cp_message_path, :class => " cpho__pages-link" do %>
						<div class=" cpho__pages-sign-label-container  cpho__pages-sign-label-container-contact">
							<div class=" cpho__pages-text  cpho__pages-text-odd  cpho__pages-text-contact">Contact</div>
							<div class=" cpho__pages-image-container  cpho__pages-image-container-odd  cpho__pages-image-container-contact">
								<%= image_tag("contact_400x300_1.png", alt: "CPH Contact logo") %>
							</div>
						</div>
					<% end %>
				</div>
				<div class=" cpho__pages-section  cpho__pages-section-base">
					<%= image_tag("wooden_sign_base_1000x150.png", alt: "CPH Wooden sign base") %>
				</div>
			</div>
		</div>
	</div>
	<div class=" cpho__parallax--group-3">
	</div>
</div>
