<% provide(:base_title, "Cat Play") %>
<div class="cph__parallax">
	<div class="cph__parallax--group-1">
		<div class="cph__parallax--layer cph__parallax--layer-0">
			<%= image_tag("cph_parallax_slide_0.png") %>
		</div>
		<div class="cph__parallax--layer cph__parallax--layer-1">
			<%= image_tag("cph_parallax_slide_1.png") %>
		</div>
		<div class="cph__parallax--layer cph__parallax--layer-2">
			<%= image_tag("cph_parallax_slide_2.png") %>
		</div>
		<div class="cph__parallax--layer cph__parallax--layer-3">
			<%= image_tag("cph_parallax_slide_3.png") %>
		</div>
		<div class="cph__parallax--layer cph__parallax--layer-4">
			<%= image_tag("cph_parallax_slide_4.png") %>
		</div>
		<div class="cph__parallax--layer cph__parallax--layer-5">
			<%= image_tag("cph_parallax_slide_5.png") %>
		</div>
		<div class="cph__parallax--layer cph__parallax--layer-6">
			<%= image_tag("cph_parallax_slide_6.png") %>
		</div>
	</div>
	<div class="cph__parallax--group-2">
		<div class="cph__content">
			<div class="cph__header">
				<%= link_to root_path do %>
					<div class="cph__flex-container">
						<div class="cph__flex-item cph__text cph__cat">
							cat
						</div>
						<div class="cph__flex-item cph__image">
							<%= render 'layouts/svg_logo' %>
						</div>
						<div class="cph__flex-item cph__text cph__play">
							play
						</div>
					</div>
				<% end %>
			</div>
			<div class="cph__pages">
				<div class="cph__pages-section cph__pages-section-journal">
					<%= image_tag("wooden_sign_top_01_1000x200.png") %>
					<%= link_to cp_journal_path do %>
						<div class="cph__pages-sign-label-container cph__pages-sign-label-container-journal">
							<div class="cph__pages-text cph__pages-text-odd cph__pages-text-journal">Journal</div>
							<div class="cph__pages-image-container cph__pages-image-container-odd cph__pages-image-container-journal">
								<%= image_tag("journal_400x300_1.png") %>
							</div>
						</div>
					<% end %>
				</div>
				<div class="cph__pages-section cph__pages-section-technical">
					<%= image_tag("wooden_sign_mid_02_1000x230.png") %>
					<%= link_to cp_technical_path do %>
						<div class="cph__pages-sign-label-container cph__pages-sign-label-container-technical">
							<div class="cph__pages-image-container cph__pages-image-container-even cph__pages-image-container-technical">
								<%= image_tag("technical_400x300_1.png") %>
							</div>
							<div class="cph__pages-text cph__pages-text-even cph__pages-text-technical">Technical</div>
						</div>
					<% end %>
				</div>
				<div class="cph__pages-section cph__pages-section-contact">
					<%= image_tag("wooden_sign_mid_03_1000x230.png") %>
					<%= link_to cp_contact_path do %>
						<div class="cph__pages-sign-label-container cph__pages-sign-label-container-contact">
							<div class="cph__pages-text cph__pages-text-odd cph__pages-text-contact">Contact</div>
							<div class="cph__pages-image-container cph__pages-image-container-odd cph__pages-image-container-contact">
								<%= image_tag("contact_400x300_1.png") %>
							</div>
						</div>
					<% end %>
				</div>
				<div class="cph__pages-section cph__pages-section-base">
					<%= image_tag("wooden_sign_base_1000x150.png") %>
				</div>
			</div>
		</div>
	</div>
</div>
