<% provide(:base_title, "Cat Play") %>
<div class="cpho__parallax">
	<div class="cpho__slide--group">
		<div class="cpho__slide">
			<%= image_tag("cpho_parallax_slide_all.jpg", alt: "Cat Play Home Slide All") %>
		</div>
	</div>
	<div class="cpho__slides--group">
		<div class="cpho__slide-layer cpho__slide-layer-0">
			<%= image_tag("cpho_parallax_slide_0.jpg", alt: "Cat Play Home Slide 0") %>
		</div>
		<div class="cpho__slide-layer cpho__slide-layer-1">
			<%= image_tag("cpho_parallax_slide_1.png", alt: "Cat Play Home Slide 1") %>
		</div>
		<div class="cpho__slide-layer cpho__slide-layer-2">
			<%= image_tag("cpho_parallax_slide_2.png", alt: "Cat Play Home Slide 2") %>
		</div>
		<div class="cpho__slide-layer cpho__slide-layer-3">
			<%= image_tag("cpho_parallax_slide_3.png", alt: "Cat Play Home Slide 3") %>
		</div>
		<div class="cpho__slide-layer cpho__slide-layer-4">
			<%= image_tag("cpho_parallax_slide_4.png", alt: "Cat Play Home Slide 4") %>
		</div>
		<div class="cpho__slide-layer cpho__slide-layer-5">
			<%= image_tag("cpho_parallax_slide_5.png", alt: "Cat Play Home Slide 5") %>
		</div>
	</div>
	<div class="cpho__content--group">
		<div class="cpho__content">
			<div class="cpho__header">
				<%= render 'cat_play/page_logo_home_link' %>
			</div>
			<div class="cpho__page-links">
				<div class="cpho__page-link cpho__page-link--journal">
					<%= image_tag("wooden_sign_top_01_1000x200.png", alt: "CPH Wooden sign level 1") %>
					<%= link_to cp_journal_path do %>
						<div class="cpho__page-link-inner cpho__page-link-inner--journal">
							<div class="cpho__page-link-text cpho__page-link-text--odd">Journal</div>
							<div class="cpho__page-link-image cpho__page-link-image--odd cpho__page-link-image--journal">
								<%= image_tag("journal_400x300_1.png", alt: "CPH Journal logo") %>
							</div>
						</div>
					<% end %>
				</div>
				<div class="cpho__page-link cpho__page-link--technical">
					<%= image_tag("wooden_sign_mid_02_1000x230.png", alt: "CPH Wooden sign level 2") %>
					<%= link_to cp_technical_path do %>
						<div class="cpho__page-link-inner cpho__page-link-inner--technical">
							<div class="cpho__page-link-image cpho__page-link-image--even cpho__page-link-image--technical">
								<%= image_tag("technical_400x300_1.png", alt: "CPH Technical logo") %>
							</div>
							<div class="cpho__page-link-text cpho__page-link-text--even">Technical</div>
						</div>
					<% end %>
				</div>
				<div class="cpho__page-link cpho__page-link--contact">
					<%= image_tag("wooden_sign_mid_03_1000x230.png", alt: "CPH Wooden sign level 3") %>
					<%= link_to new_cp_message_path do %>
						<div class="cpho__page-link-inner cpho__page-link-inner--contact">
							<div class="cpho__page-link-text cpho__page-link-text--odd">Contact</div>
							<div class="cpho__page-link-image cpho__page-link-image--odd cpho__page-link-image--contact">
								<%= image_tag("contact_400x300_1.png", alt: "CPH Contact logo") %>
							</div>
						</div>
					<% end %>
				</div>
				<div class="cpho__page-link cpho__page-link--base">
					<%= image_tag("wooden_sign_base_1000x150.png", alt: "CPH Wooden sign base") %>
				</div>
			</div>
			<div class="cpho__footer">
				<div class="cpho__copyright-notice">
					&copy; 2017 Steve Roach
				</div>
			</div>
		</div>
	</div>
</div>
